*.o
/*.a.xyzzy
*.lo
/*.so.xyzzy
/config.mak
/src/include/execline/config.h
/background
/backtick
/cd
/define
/dollarat
/elgetopt
/elgetpositionals
/elglob
/emptyenv
/envfile
/exec
/execlineb
/exit
/export
/fdblock
/fdclose
/fdmove
/fdswap
/fdreserve
/forbacktickx
/foreground
/forstdin
/forx
/getcwd
/getpid
/heredoc
/homeof
/if
/ifelse
/ifte
/ifthenelse
/import
/importas
/loopwhilex
/multidefine
/multisubstitute
/pipeline
/piperw
/posix-cd
/redirfd
/runblock
/shift
/trap
/tryexec
/umask
/unexport
/wait
/withstdinas

